.map-container {
  .map {
    .ed {
      fill: #ccc;
      stroke: none;

      &:hover {
        fill: orange;
      }
    }

    .boundary {
      stroke: #fff;
      fill: none;
    }
  }

  .tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
    pointer-events: none;
    z-index: 3;

    &.hidden {
      display: none;
    }

    strong {
      margin-right: 7px;
    }
  }
}
